<!DOCTYPE html>
<html>

<head>
	<title> MY ADMIN PAGE</title>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
	 crossorigin="anonymous">

	</script>
</head>

<text><a href ="/" style="font-size: 20px;
    border: none; border-radius: 10px 10px; padding: 15px; color: #FFFFFF;
    background-color: darkblue; text-decoration: none;"> Return to Lida's Portfolio</a></text></text>

<body onload="loadExistingData()">

	<style>

	body {

 background-image: url("https://scontent.fevn6-2.fna.fbcdn.net/v/t1.6435-9/180626883_2991198987823709_8487369000329006454_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=e3f864&_nc_ohc=EOoBORDw5OkAX9QyjYw&_nc_ht=scontent.fevn6-2.fna&oh=ad8a0c4f3cb6c0ac43dfbd8c0818b815&oe=60C5A4FD");
 background-position: center; 
 background-repeat: no-repeat;
 background-atachment: fixed;
 background-size: cover;
 background-color: rgb(53, 159, 185);
 padding: 30px;
 margin-left: auto;
 margin-right: auto;
 width: 800px;
 
}

div.item {
  
  background-color: darkseagreen;
  width: 100%;
  height: 30px;
  float: left;
  margin: 10px;
  padding: 10px;
  position: relative;
  overflow-y: hidden;  
  cursor: pointer;
}

#fitnessDataContainer div.item {
  background-color: #67c1f5af;
  width: 100%;
  height: 30px;
  float: left;
  margin: 10px;
  border-color: blue; 
  padding: 10px;
  position: relative;
  overflow-y: hidden;  
  cursor: pointer;
}
#bookDataContainer div.item {
  background-color: rgba(206, 247, 131, 0.815);
  width: 100%;
  height: 30px;
  float: left;
  margin: 10px;
  padding: 10px;
  position: relative;
  overflow-y: hidden;  
  cursor: pointer;
}
#otherDataContainer {
  display: none;
  
}
div.item button {
  font-size: 10px;  
  font-family: "Sofia", sans-serif;
  border-radius: 10px 10px;
  padding: 10px;
  color: rgb(139, 0, 0);
  background-color: rgba(243, 128, 153, 0.76);  
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  border: 1px solid rgb(116, 30, 156);
}

div.item button:hover {
  border: 1px solid rgb(73, 37, 90);
  background-color: rgba(185, 167, 196, 0.658);  
}
div.item button.editButton {
  right: 70px;
}
span.item {
  line-height: 16px;
  font-size: 14px;
}
span.item b {
  margin-right: 10px;
}
span.undefined {
  color: red;
}
h1 {
 background-color: rgba(55, 221, 221, 0.432) ; 
 text-align: center; 
 color: azure; 
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 50pt; 
    }
h2 {
  text-align: center; 
  font-family: Copperplate;
  font-size: 20pt; 
  color: rgb(31, 94, 167);
  background-color: azure; 
  text-shadow: darkcyan;
  font-weight: bold;
  display: inline-block; 
 
}

	</style>

	<h1>RESULTS</h1>
	
	<div>
		<h2>My Fitness Data</h2>
		<div id="fitnessDataContainer">Loading...</div>
	</div>
	<div style="clear:left;">
		<br><hr>
      <h2>My Book Data</h2>
      <div id="bookDataContainer">Loading...</div>
    </div>
    	<script>

		function deleteData(id) {

    var r = confirm("Are you sure you want to delete the item with the following ID? " + id);
    if (r == false) {
        return;
    }

    var tmp = {
        "id": id
    }

    $.ajax({
        type: 'POST',
        url: "https://cse120-2021-api-lida.herokuapp.com/data/delete",
        data: tmp,
        cache: false,
        dataType : 'json',
        success: function (data) {
            console.log("success");
            document.getElementById("div" + id).style.display = "none";
        },
        error: function (xhr) {
            console.error("Error in post", xhr);
        },
        complete: function () {
            console.log("Complete");  
        }
    });
}

function saveData() {
	var tmp = {
		"test": "Data"
	}

    $.ajax({
        type: 'POST',
        url: "https://cse120-2021-api-lida.herokuapp.com/data",
        data: tmp,
        cache: false,
        dataType : 'json',
        success: function (data) {
        	console.log("success");
        },
        error: function (xhr) {
            console.error("Error in post", xhr);
        },
        complete: function () {
            console.log("Complete");  
        }
    });
}

function updateBookData(e) {
  e.preventDefault();
  var updatedBook = {};
  updatedBook.id = document.getElementById("_id").value;
  updatedBook.fullname = document.getElementById("fullname").value;
  updatedBook.title = document.getElementById("title").value;
  updatedBook.author = document.getElementById("author").value;
  updatedBook.color = document.getElementById("color").value;
  updatedBook.coverMaterial = document.getElementById("coverMaterial").value;
  updatedBook.price = document.getElementById("price").value;
  updatedBook.currency = document.getElementById("currency").value;
  updatedBook.publisher = document.getElementById("publisher").value;
  updatedBook.edit = document.getElementById("edir").value;
  updatedBook.date = document.getElementById("date").value;
  updatedBook.genre = document.getElementById("genre").value;
  updatedBook.language = document.getElementById("language").value;
  updatedBook.otherlang = document.getElementById("otherlang").value;

    console.log(myBook);

      $.ajax({
      type: 'POST',
      url: "https://cse120-2021-api-lida.herokuapp.com/data/update",
      data: updatedBook,
      cache: false,
      dataType : 'json',
      success: function (data) {
        console.log("success");
      },
      error: function (xhr) {
        console.error("Error in post", xhr);
      },
      complete: function () {
        console.log("Complete");  
      }
    });
  
}

function updateHobbyData(e) {
  e.preventDefault();
  var updatedHobby = {};
  updatedHobby.id = document.getElementById("_id").value;
  updatedHobby.fullname = document.getElementById("fullname").value;
  updatedHobby.email = document.getElementById("email").value;
  updatedHobby.age = document.getElementById("age").value;
  updatedHobby.type = document.getElementById("type").value;
  updatedHobby.fav = document.getElementById("fav").value;
  updatedHobby.location = document.getElementById("location").value;
  updatedHobby.frequency = document.getElementById("frequency").value;
  updatedHobby.hour = document.getElementById("hour").value;
  updatedHobby.water = document.getElementById("water").value;
  updatedHobby.blogger = document.getElementById("blogger").value;
  updatedHobby.diet = document.getElementById("diet").value;
  updatedHobby.calories = document.getElementById("calories").value;
  updatedHobby.cheatmeal = document.getElementById("cheatmeal").value;
  updatedHobby.playlist = document.getElementById("playlist").value;
  


      $.ajax({
      type: 'POST',
      url: "https://cse120-2021-api-lida.herokuapp.com/data/update",
      data: updatedHobby,
      cache: false,
      dataType : 'json',
      success: function (data) {
        console.log("success");
      },
      error: function (xhr) {
        console.error("Error in post", xhr);
      },
      complete: function () {
        console.log("Complete");  
      }
    });
  
}

function loadExistingData() {
  myFitnessData = [];
  myBookData = [];

  $.ajax({
      type : "GET",
      url : "https://cse120-2021-api-lida.herokuapp.com/data",
      dataType : "json",
      success : function(data) {
        console.log("success", data);
        loadedData = data.data;
        data.data.forEach(elem => {
          if (elem["owner"] == "Lida Asilyan") {
            if (elem["project"] == "Fitness") {
              myFitnessData.push(elem);
            } else {
              myBookData.push(elem);
            }
          } else {
            otherData.push(elem);
          }
        })
        displayData(myFitnessData, "fitnessDataContainer");
        displayData(myBookData, "bookDataContainer");
      },
      error : function(data) {
          console.log("Error")
      }
  });
}

function displayData(data, containerDivName) {
    document.getElementById(containerDivName).innerHTML = "";
    data.forEach(elem => {
        var item = document.createElement("div");
        item.id = "div" + elem["_id"];
        item.className = "item";
        if (Object.keys(elem).length == 1) {
            var span = document.createElement("span");
            span.innerHTML = "<i>Empty Element with autogenerated ID: </i>" + elem["_id"];
            item.appendChild(span);
        }
        Object.keys(elem).forEach(key => {
            if (key != "_id") {
              var span = document.createElement("span");

              var b = document.createElement("b");
                b.innerHTML = key + ": ";
                span.appendChild(b);
                
                span.className = "item";
                if (elem[key]) {
                    span.innerHTML += elem[key];
                } else {
                    var span1 = document.createElement("span");
                    span1.className = "undefined";
                    span1.innerHTML = "N/A";
                    span.appendChild(span1)
                }
                item.appendChild(span);

              var br = document.createElement("br");
                item.appendChild(br);
            }
        })

        if (elem["owner"] == "Lida Asilyan") {
          var button2 = document.createElement("button");
          button2.innerHTML = "Edit";
          button2.className = "editButton";
          button2.id = "edit_"+ elem["_id"];
          button2.addEventListener("click", function(e){
          editData(e, e.target.id);
          }, false);
          item.appendChild(button2);
        }

        if (elem["owner"] == "Lida Asilyan" || (elem["fullname"] && elem["fullname"].indexOf("Lida Asilyan") > -1)) {
          var button = document.createElement("button");
          button.innerHTML = "Delete";
          button.id = elem["_id"];
          button.addEventListener("click", function(e){
          deleteData(e.target.id);
          }, false);
          item.appendChild(button);
         }
         document.getElementById(containerDivName).appendChild(item);
     
    })


    document.querySelectorAll("#" + containerDivName +" div.item").forEach(div => {
      div.addEventListener("click", function(e){
        if (this.style.height == "auto") {
          this.style.height = "30px";
        } else {
          this.style.height = "auto";
        }
      })        
    })
}


function toggleOtherData() {
  var otherData = document.getElementById("otherDataContainer");
  if (otherData.style.display == "block") {
    otherData.style.display = "none";
    document.getElementById("otherDataToggle").checked = false;
  } else {
    otherData.style.display = "block";
    document.getElementById("otherDataToggle").checked = true;
  }
}


var loadedData = [];

function editData(e, id){
  e.stopImmediatePropagation();
 var tmp = id.split("edit_");
 var item_id = tmp[1];
 console.log(item_id);

loadedData.forEach(item => {
    if (item._id == item_id && item["owner"] == "Lida Asilyan") {
        console.log(item); 
        localStorage = window.localStorage;
        localStorage.setItem('editItem', JSON.stringify(item));
        if (item["project"] == "Fitness") {
          document.location  = "/edit_hobby"; 
        } else {
          document.location  = "/edit_book"; 
        }
    }
  })
}

function loadFitnessItemForEdit() {
  localStorage = window.localStorage;
  editItem = JSON.parse(localStorage.getItem("editItem"));
  console.log(editItem);
  document.getElementById("_id").value = editItem["_id"];
  document.getElementById("fullname").value = editItem["fullname"]; 
  document.getElementById("age").value = editItem["age"];  
  document.getElementById("email").value = editItem["email"];
  document.getElementById("type").value = editItem["type"]; 
  document.getElementById("fav").value = editItem["fav"]; 
  document.getElementById("location").value = editItem["location"]; 
  document.getElementById("frequency").value = editItem["frequency"]; 
  document.getElementById("hour").value = editItem["hour"]; 
  document.getElementById("water").value = editItem["water"]; 
  document.getElementById("blogger").value = editItem["blogger"]; 
  document.getElementById("diet").value = editItem["diet"];
  document.getElementById("calories").value = editItem["calories"];
  document.getElementById("cheatmeal").value = editItem["cheatmeal"];
  document.getElementById("playlist").value = editItem["playlist"];
  
}

function loadBookItemForEdit() {
  localStorage = window.localStorage;
  editItem = JSON.parse(localStorage.getItem("editItem"));
  console.log(editItem);
  document.getElementById("_id").value = editItem["_id"];
  document.getElementById("fullname").value = editItem["fullname"]; 
}
	</script>


	</body>
</html>