<!DOCTYPE html>

<html lang="en">
<head>

    <title>Login</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="913693256621-hs6mt3co6co6sfcpovcoo95f4kgt7h4p.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
<h1> Login page </h1>

</head>

<body>

    <div class="g-signin2" data-onsuccess="onSignIn"></div>
   <a href ="#" onclick="signOut()";> Sign Out </a>
    <script>

        function onSignIn(googleUser) {
      
        var id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/login');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
            if(xhr.responseText == 'success'){
                //signOut();
                location.assign('/')
            }
        };
        xhr.send(JSON.stringify({token : id_token}));

      }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
        console.log('User signed out.');
        });
    }
    
    </script>
    
</body>
</html>