<!DOCTYPE html>

<html lang="en">
<head>

    <title>Login</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="913693256621-hs6mt3co6co6sfcpovcoo95f4kgt7h4p.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
<h1> Login page </h1>

</head>

<body>

     <style>

      body {

        background-image: url("https://i.pinimg.com/originals/90/78/72/90787235384d309ba77c25068ec5a2b8.jpg");
        background-color:bisque;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        text-align: center;
        font-size: x-large;
        color: lightblue;
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        padding: 30px;
        font-family: "Sofia", sans-serif;

        }


      div {

        background-color: rgba(173, 233, 233, 0.534);
        border-radius: 20px;
        border: 3px solid rgb(11, 11, 94);
        padding:30px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 20px;
        text-align: inherit;
        color: rgb(72, 25, 133);
        text-shadow: 2px 2px rgb(196, 233, 255);
        font-size: large; 
        

      } 


      h2 {

          font-family: cursive;
          background-color: darkblue;
          color: lightblue;
          text-align: center;
          font-size: xx-large;
        }

        h3 {

          font-family: fantasy;
          background-color: azure;
          color: darkblue;
          text-align: center;
          font-size: xx-large;
        }

        #g-signin2_index {

          visibility: hidden;
        }

</style>

    <div class="g-signin2" data-onsuccess="onSignIn"></div>
   <a href ="#" onclick="signOut()";> Sign Out </a>
    <script>

        function onSignIn(googleUser) {
      
        var id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/login');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
            if(xhr.responseText == 'success'){
                //signOut();
                location.assign('/')
            }
        };
        xhr.send(JSON.stringify({token : id_token}));

      }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
        console.log('User signed out.');
        });
    }
    
    </script>
    
</body>
</html>