<!DOCTYPE html>

<html lang="en">
<head>

    <title>Login</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="913693256621-hs6mt3co6co6sfcpovcoo95f4kgt7h4p.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

<h1> L O G I N  </h1>

</head>

<body>

     <style>

      body {

        background-image: url("https://i.pinimg.com/originals/90/78/72/90787235384d309ba77c25068ec5a2b8.jpg");
        background-color:bisque;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        text-align: center;
        font-size: x-large;
        color: lightblue;
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        padding: 30px;

        }
    

h1 {

    color: darkblue;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 100px;
}

</style>

    <div class="g-signin2" data-onsuccess="onSignIn"></div>
   <a href ="/index" onclick="signOut()"> Sign Out </a>
    <script>

        function onSignIn(googleUser) {
      
        var id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/login');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
            if(xhr.responseText == 'success'){
                //signOut();
                location.assign('/')
            }
        };
        xhr.send(JSON.stringify({token : id_token}));

      }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
        console.log('User signed out.');
        });
    }
    
    </script>
    
</body>
</html>